# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/
/bookstore.txt
220Project
bookstore.txt
order.txt
/220Project
/order.txt
/delivery.txt
